<h1>Purchase one of our elite fitness plans!</h1>

<ol>
<%@plans.each do |plan|%>
  <li><%=link_to "Join the #{plan.users.count} members currently enjoying our #{plan.name} tier membership! Click here for details.", plan%></li><br>
<%end%>
</ol>
