<h1>List of Trainers</h1>
<!-- <ul> -->


<div id="wrap">
   <div id="content">
<%@trainers.each do |trainer|%>
<li><%=link_to trainer.name, trainer_path(trainer)%></li>
<%end%>
</div>
</div>
<!-- </ul> -->
